@use "./variables" as vars;

//MEDIA QUERIES
@mixin media-query-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-query-min($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

//FLEX
@mixin flex-center-column() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-center-cards() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-center-row() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin flex-start() {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

@mixin flex-end() {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}

@mixin margin($value) {
  margin: $value;
}

@mixin padding($value) {
  padding: $value;
}
